*{
    font-family: "Open Sans", Times New Roman
}

body {
    padding-top: 100px; /* This should be equal to the height of your header */
}

#burger1{
    background-color: white;
    color: white;
}
.navbar2 {
    display: flex;
    /*overflow: hidden;*/
    background-color: black;
    position: fixed; 
    top: 0; 
    width: 100%; 
    border-radius: 0;
    justify-content: space-between;
}

.navbar2 li {
    float: right;
    display: block;
    text-align: center;
    padding: 25px 16px;
    font-size: 20px;
    text-decoration: none;
}

#try1{
    color: white;
}

#try2{
    color: white;
}

#try3{
    color: white;
}

#try4{
    color: white;
}

#try5{
    color: white;
}

#try6{
    color: white;
}

#try7{
    color: white;
}

/*.navbar-light .navbar-nav .nav-link {
    color: white;
}*/

/* Change background on mouse-over */
.navbar2 li:hover {
    /*background: whitesmoke;*/
    /*color: whitesmoke;*/
    text-decoration: underline;
}

#logo {
    color: white;
    margin: 35px;
}


.me{
    display: flex;
    justify-content: center;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    text-align: center;
}

.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 50%;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.form-group{
    background-color: black;
}

.column{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .column{
    display: flex;
    flex-direction: column;
}
}